html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #f14668;
  border-bottom: 5px solid #772233;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

header .row {
  height: 50px;
}

.row.align-center {
  align-items: center;
}

.align-center h1 {
  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.strategy {
  margin: 10px 2% 0 2%;
  max-width: 800px;
  flex: 0 0 96%;
  border-radius: 8px;
  border: 2px solid #bbb;
  background-color: #eee;
}

.fertilizer-form {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 2%;
  flex-basis: 90%;
}

.fertilizer-field {
  margin-left: 0.5%;
}

.row .summary-result {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.row .summary-result var {
  font-weight: bold;
  font-style: normal;
  margin-left: 2%;
}

.row .strategy-actions {
  padding: 10px;
  justify-content: flex-end;
}
.row .strategy-actions button {
  margin-left: 5px;
}

.delete {
  margin: auto;
}

.add-strategy {
  margin: 10px 0 50px;
}
